body {
    font-family: 'Lato', sans-serif;
}

.carousel-indicators {
    bottom: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}

#contact-container {
    padding-top: 112px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contact-links {
    width: 50%;
    padding: 15px;
    margin-bottom: 2rem;
}

#contact-links span, #contact-container label {
    font-weight: bold;
}

#contact-links > ul > li {
    font-weight: bold;
    font-size: 18px;
}

#emc-info > li {
    font-weight: 300!important;
}

#h2-get-support {
    margin-top: 3rem;
}

#support-info ul {
    margin-bottom: 2rem;
}

#contact-form {
    width: 50%;
    padding: 15px;
    margin-left: 60px;
}

#contact-form input {
    width: 80%;
    display: block;
    padding:0.5rem;
    border-radius: 50px;
}

#contact-form textarea {
    width: 80%;
    height: 120px;
    display: block;
    padding:0.5rem;
    border-radius: 25px;
}

#contact-form button {
    border-radius: 50px;
    padding: 0.5rem 2rem;
}

@media (max-width: 1000px) {
    #contact-container {
        flex-direction: column;
        padding-top: 56px;
        padding-left: 0;
        padding-right: 0;
    }
    #contact-form {
        margin-left: 0;
    }
    #contact-links {
        width: 100%;
    }
    #contact-form {
        width: 100%;
    }
    #contact-form input {
        width: 100%;
    }
    #contact-form textarea {
        width: 100%;
    }
}