/* CSS for post_detail.html */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
  }
  
  .masthead-text {
    background-color: #096f10;
    color: white;
    position: relative;
  }
  
  .masthead-image {
    position: relative;
    overflow: hidden;
  }
  
  .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 89%;
    height: 100%;
    width: 155%;
    background: #096f10;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
  }

  