{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- About us section -->
<section>
    <h1>About</h1>
    <img src="../../static/images/army_hug.webp" alt="An army serviceman hugs a young girl holding a British flag">
    <div>
        <h2>About Us</h2>
        <p>CheckPoint's mission is to facilitate a <strong>peer-led</strong> support service to ex-servicemen and women who are struggling with mental health. The blog style of the site allows veterans to share their own experience and explore different ways of improving their health and well-being. The driving force behind this method of digital story sharing is to enable users to discuss their difficulties transitioning back to civilian life without the attached mental health stigma.</p>
        <p>We hope that through the medium of blogging, veterans are able to share their experiences and explore different ways of imporving their quality of life in a safe, unassuming environment.</p>
        <button>Post a blog</button>
    </div>
</section>


<!-- What CheckPoint offers section -->
<section>
    <img src="../../static/images/art.webp" alt="Two people sit painting on a canvas">
    <div>
        <h3>How can CheckPoint help?</h3>
        <p>Storytelling and art has been part of the human experience for generations. Stories are powerful and by telling your story you are able to spark conversations, create lasting relationships, and have the ability to voice your thoughts and ideas and have others listen and connect. Sometimes what we want to express cannot be expressed wholeheartedly through words and this is where art comes to play. You do not have to be an artist to create a work of art. You can use a variety of art tools; anything that you feel comfortable using and just express yourself. There is no judgement here.</p>
        <p>CheckPoint allows you to write your story and/or digitally add your art. You can do this by taking a picture of your work and uploading it and/or write a blog post. Remember this is your space.</p>
        <button>Share your art</button>
    </div>
</section>


<!-- CheckPoint creators section -->
<section>
    <div>
        <img src="" alt="">
        <p>Team member name 1</p>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <img src="" alt="">
        <p>Team member name 2</p>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <img src="" alt="">
        <p>Team member name 3</p>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <img src="" alt="">
        <p>Team member name 4</p>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <img src="" alt="">
        <p>Team member name 5</p>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
</section>
{% endblock %}