<footer class="bg-dark text-light mb-5">
    <div class="container py-3">
      <div class="row">
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <ul class="list-unstyled d-flex justify-content-between">
            <li><a href="#" class="text-danger">Events</a></li>
            <li><a href="#" class="text-danger">Search for Jobs</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
          <!-- Empty space column -->
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <ul class="list-unstyled d-flex justify-content-end">
            <li><a href="#" class="text-danger"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" class="text-danger"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="text-danger"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="text-danger"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#" class="text-danger"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="text-danger">&copy; 2023 Your Company. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>